.welcomeDiv {
  border-bottom-left-radius: 20px;
  border-bottom: 1px solid white;
}
.w1 {
  margin-top: 70px;
  margin-bottom: 70px;
}
.welcome {
  color: white;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}
