<div class="row">
  <div *ngFor="let p of favourite; let i = index" class="col-md-6 col-12 mb-5">
    <div class="card" style="width: 18rem;">
      <img [src]="p.images[0]" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{p.title}}</h5>
        <p class="card-text">{{p.brand}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{p.description}}</li>
        <li class="list-group-item">{{p.price}}</li>
        <li class="list-group-item">{{p.rating}}</li>
      </ul>
      <div class="card-body">
        <a routerLink="/favourite" class="card-link">Salva nei preferiti</a>
        <a routerLink="/" class="card-link">Aggiungi al carrello</a>
      </div>
    </div>
  </div>
</div>
