<div *ngFor="let users of usersArr ; let id = index" class="mt-3">
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="users.image" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{users.firstName}} {{users.lastName}}</h5>
          <h6 class="card-title">{{users.title}}</h6>
          <div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
