.main {
    padding: 0 25%;
}
.maturity {
    background-color: rgb(62, 62, 62);
    width: 12rem;
    text-align: center;
}
.input {
    width: 80%;
}
.btn {
    font-size: 13px;
    font-weight: bold;
    padding: 0.2em 1em;
    border-radius: 0;
}