<div class="logosDiv">
  <div>
    <img class="logoSaloon" src="../../../assets/logos/logo.png" alt="">
  </div>
  <h2>Il Tuo Autosalone Di Sfiducia</h2>
</div>

<div class="logosDiv">
  <h2>I Nostri Marchi</h2>
  <div class="imgDiv">
    <img class="logo" src="../../../assets/logos/audi.png" alt="">
    <img class="logoFiat" src="../../../assets/logos/fiat logo.png" alt="">
    <img class="logo" src="../../../assets/logos/Ford-Motor-Company-Logo.png" alt="">
  </div>
</div>

<div class="row">
  <div *ngFor="let car of chosenCars; let id = index" class="col-md-6 col-12 mb-5 cardDiv">
    <div class="card carCards">
      <img [src]="car.modelImage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{car.model}}</h5>
        <p class="card-text">{{car.brand}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Anno: {{car.year}}</li>
        <li class="list-group-item">${{car.price}}</li>
        <li class="list-group-item" [ngClass]="{'bg-success': car.available, 'bg-danger': !car.available}"
        class="card-text available">{{car.available ? 'Disponibile' : 'Non Disponibile'}}</li>
      </ul>
      <div class="card-body d-flex justify-content-around">
        <button type="button" class="btn btn-primary" [routerLink]="['/detail', car.id]">Mostra Dettagli</button>
      </div>
    </div>
  </div>
  </div>



