<div class="logosDiv">
  <div class="imgDiv">
    <img class="logo" src="../../../assets/logos/Ford-Motor-Company-Logo.png" alt="">
  </div>
  <h2>Le Nostre Auto Ford:</h2>
</div>

<div class="row">
  <div *ngFor="let car of carsArr; let id = index" class="col-md-6 col-12 mb-5">
    <div class="card carCards">
      <img [src]="car.modelImage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{car.model}}</h5>
        <p class="card-text">{{car.brand}}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Anno: {{car.year}}</li>
        <li class="list-group-item">${{car.price}}</li>
        <li class="list-group-item" [ngClass]="{'bg-success': car.available, 'bg-danger': !car.available}" class="card-text available">{{car.available ? 'Disponibile' : 'Non Disponibile'}}</li>
      </ul>
      <div class="card-body d-flex justify-content-around">
        <button type="button" class="btn btn-primary">Mostra Dettagli</button>
      </div>
    </div>
  </div>
  </div>

